*.log
*.jou
*.rpt
.vscode/*
.Xil/*
*.dcp
extracted/*

_ide/*
*/_ide/*

Zedboard_audio*.runs/*
Zedboard_audio*.gen/*
Zedboard_audio*.cache/*

# Ignore FSBL build output
# Ignore build output directory
*/build
*/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata